* {
  margin: 0;
  font-family: 'Open Sans'
}

.hero button,
.card-text button,
.likeButton i,
.likesBar i,
.likes-text i,
#backToLikes,
#closeModalButton,
.city-preview,
.clickForHome,
#likesBar {
  cursor: pointer;
}

.hero {
  margin: 0 auto;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pizza.jpg');
  background-size: cover;
  background-position: center;
}

.hero > * {
  margin-bottom: 30px;
  font-family: 'Open Sans';
  color: white
}

.hero h1 {
  font-family: Hillray;
  color: white;
  letter-spacing: 8px;
  font-weight: 400;
  font-size: 3rem;
}

.hero img {
  height: 80px;
}

.hero input {
  height: 5vh;
  width: 30vw;
  border-radius: 100px;
  border: none;
  margin-right: 20px;
  padding-left: 40px;
  font-size: 0.8rem;
}

.hero button {
  height: 5vh;
  width: 150px;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(238, 228, 220);
}

.hero button:hover {
  background-color: rgb(238, 205, 178);
}

.home-likes-button {
  cursor: pointer;
}

.home-likes-button:hover {
  color: #efefef
}

#loader {
  height: 3rem;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  background-color: #D94F00;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-modal {
  border: 1px solid red;
  background-color: white;
  color: red;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 0.25rem;
}

.about h2 {
  font-family: Hillray;
  margin-bottom: 30px;
}

.about p {
  margin: 0 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #F2D2B6;
  padding: 20px;
}

nav h2 {
  font-family: Hillray;
  display: inline-block;
}

nav i {
  color: #243540;
}

nav i:hover {
  color: black;
}

.city-page-hero {
  margin: 0 auto;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.city-page-hero h1 {
  font-family: Hillray;
  font-size: 4rem;
  letter-spacing: 5px;
  color: white;
}

.categories {
  text-align: center;
  margin: 40px auto;
}

.categories a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.categories a:hover {
  background-color: #243540;
  border-radius: 100px;
  color: white;
}

.categories .active {
  background-color: #243540;
  border-radius: 100px;
  color: white;
}

.results-container {
  width: 85%;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.results h2 {
  width: 100%;
  text-align: center;
}

.results-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.results-header button {
  color: white;
  background-color: #243540;
  border-radius: 100px;
  padding: 10px 30px;
  border: none;
  text-transform: uppercase;
  margin-top: 6px;

}

.card {
  margin: 0 20px 20px;
  width: 250px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.card-image {
  height: 200px;
  background: #D97E4A;
  background-size: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.card-text h3 {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
}

.card-text-header {
  min-height: 60px;
}

.card-text button {
  border: 2px solid #D94F00;
  color: #D94F00;
  background-color: white;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-family: 'Open Sans';
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 700;
}

.card-text button:hover {
  background-color: #D94F00;
  color: white;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

#closeModalButton {
  position: absolute;
  top: -30px;
  right: -30px;
  color: white;
}

.modal-content {
  width: 400px;
  background-color: white;
  position: relative;
}

.modal-image {
  height: 200px;
  background-color: #D97E4A;
  background-size: cover;
}

.modal-text {
  padding: 20px 10px;
}

.stars {
  width: 105px;
  text-align: right;
}

.likeButton i {
  color: #D94D2E;
}

.likeButton i:hover {
  color: #D92D07;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.city-preview {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.city-preview:hover {
  background-color: #efefef;
  border-radius: 0.5rem;
}

.city-preview h3 {
  font-size: 1.5rem;
}

.city-preview-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background: #D97E4A;
}

.no-likes-message {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.row.like {
  align-items: center;
}

.likes-page h2,
.full-likes-page h2 {
  font-family: Hillray;
  padding: 20px;
}

.likes-page h1,
.full-likes-page h1 {
  font-family: Hillray;
  text-align: center;
}

.likesList,
.city-preview-container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.likesList h2 {
  border-bottom: 1px solid #bbbbbb;
  padding-left: 0;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.like-container {
  display: flex;
  margin-bottom: 20px;
}

.likes-photo {
  background: #D97E4A;
  height: 100px;
  width: 100px;
  background-size: cover;
  border-radius: 50%;
}

.likes-text {
  margin-left: 16px;
  width: calc(100% - 120px);
}

#map {
  height: 400px;
  width: 50%;
  margin: 40px auto;
}

.likes-text i {
  color: #243540
}

.likes-text i:hover {
  color: black;
}

.likes-button-container {
  text-align: center;
}

#backToLikes {
  color: white;
  background-color: #D94D2E;
  border-radius: 100px;
  padding: 10px 30px;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 20px
}

#backToLikes:hover {
  background-color: #D92D07;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 450px) {
  .search-bar {
    flex-direction: column;
  }

  .hero input {
    width: 70vw;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .about h2 {
    margin-bottom: 0.5rem;
  }

   .city-page-hero h1 {
    font-size: 3rem;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categories a {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  #map {
    width: 90%;
  }

  .first-row {
    flex-direction: column;
  }

  .city-preview h3 {
    font-size: 1.25rem
  }

  .city-preview-image {
    height: 90px;
    width: 90px;
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categories a {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  .hero {
    height: 100vh;
  }
  .hero input, .hero button {
    height: 35px;
  }

  .city-page-hero {
    height: 85vh;
  }

  .about {
    height: auto;
    padding: 20px 10px;
  }

  nav {
    padding: 15px;
  }
}
