* {
  margin: 0;
  font-family: 'Open Sans'
}

.hero {
  margin: 0 auto;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pizza.jpg');
  background-size: cover;
  background-position: center;
}

.hero > * {
  margin-bottom: 30px;
  font-family: 'Open Sans';
  color: white
}

.hero h1 {
  font-family: Hillray;
  color: white;
  letter-spacing: 8px;
  font-weight: 400;
  font-size: 3rem;
}

.hero img {
  height: 80px;
}

.hero input {
  height: 5vh;
  width: 30vw;
  border-radius: 100px;
  border: none;
  margin-right: 20px;
  padding-left: 40px;
  font-size: 0.8rem;
}

.hero button {
  height: 5vh;
  width: 150px;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}

.about h2 {
  font-family: Hillray;
  margin-bottom: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #F2D2B6;
  padding: 20px;
}

nav h2 {
  font-family: Hillray;
  display: inline-block;
}

nav i {
  color: black;
}

.city-page-hero {
  margin: 0 auto;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.city-page-hero h1 {
  font-family: Hillray;
  font-size: 3rem;
  letter-spacing: 5px;
}

.categories {
  text-align: center;
  margin: 40px auto;
}

.categories a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.categories a:hover {
  background-color: aquamarine;
  border-radius: 100px;
}

.active {
  background-color: aquamarine;
  border-radius: 100px;
}

.categories a:active {
  background-color: aquamarine;
  border-radius: 100px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results h2 {
  width: 100%;
  text-align: center;
}

.results-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-header button {
  background-color: aquamarine;
  border-radius: 100px;
  padding: 10px 30px;
  border: none;
  text-transform: uppercase;
}

.card {
  margin: 20px 20px 0;
  width: 250px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.card-image {
  height: 200px;
  background-size: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text h3 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.card-text button {
  border: none;
  background-color: bisque;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-family: 'Open Sans';
  margin-bottom: 10px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

#closeModalButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-content {
  width: 400px;
  background-color: white;
  position: relative;
}

.modal-image {
  height: 200px;
  background-color: royalblue;
  background-size: cover;
}

.modal-text {
  padding: 20px 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.row.like {
  align-items: center;
}

.hidden {
  display: none;
}
